<!DOCTYPE html>
<html ng-app="book-catalog">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/CustomScripts/catalog.js"></script>
</head>
<body ng-controller="books">
<div style="width: 70%; height: 100%; float: left">
    <ul>
        <li ng-repeat="book in books">
            <p><b>Title: </b>{{book.Title}}</p>
            <p><b>Description</b>: {{book.Description}}</p>
            <p><b>Author</b>: {{book.Author}}</p>
            <p><b>Date of creation</b>: {{book.Date}}</p>
            <button style="margin-bottom: 10px" ng-click="edit(book)">Edit</button>
            <button style="margin-bottom: 10px" ng-click="delete(book.Id)">Delete</button>
        </li>
    </ul>
</div>
<div>
    <b>Add new book</b>
    <br/>
    <input ng-model="newBook.Title" placeholder="Title"/>
    <br/>
    <input ng-model="newBook.Author" placeholder="Author"/>
    <br/>
    <input ng-model="newBook.Description" placeholder="Description"/>
    <br/>
    <button ng-click="add()">Add</button>
</div>
<div ng-show="editBookFlag">
    <b>Edit book</b>
    <br/>
    <input ng-model="editBook.Title" placeholder="Title"/>
    <br/>
    <input ng-model="editBook.Author" placeholder="Author"/>
    <br/>
    <input ng-model="editBook.Description" placeholder="Description"/>
    <br/>
    <button ng-click="submitEdit(editBook)">Save</button>
</div>
</body>
</html>
